html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 400;

  background: #e6ecf0;

  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  max-width: 100%;
}

a:link {
  transition: opacity .1s ease-out;
  text-decoration: none;

  opacity: .7;
}

a:hover {
  opacity: 1;
}

.header {
  font-size: 0;
  line-height: 0;

  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;

  border-bottom: 1px solid rgba(0, 0, 0, .05);
  background: #fff;
}

.header__container {
  width: 100%;
  margin: 0 auto;
}

.header__logo {
  display: block;

  width: 40px;
  margin: 0 auto;
}

.header__logo svg {
  max-width: 100%;
  height: auto;
}

.app__container {
  margin: 0 auto;
  padding: 50px 10px 10px;
}

.app__feed {
  display: grid;

  grid-gap: 10px;
}

.app__feed h1 {
  text-align: center;

  color: #14171a;
}

.feed-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 9px 12px;

  border: 1px solid #e6ecf0;
  background: #fff;
}

.feed-card:hover {
  background: #f5f8fa;
}

.feed-card__title {
  font-size: 14px;
  font-weight: bold;

  margin: 0;
  padding: 0;

  word-break: break-all;

  color: #14171a;
}

.feed-card__title a {
  display: flex;
  justify-content: space-between;

  color: #14171a;
}

.feed-card__nickname {
  font-size: 14px;
  font-weight: normal;

  color: #657786;
}

.feed-card__body {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;

  flex-grow: 1;
}

.feed-card__footer {
  font-size: 14px;

  color: #657786;
}

@media screen and (min-width: 768px) {
  .app__feed {
    display: grid;

    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .app__feed .feed-card:nth-child(3n + 2) {
    grid-row: span 2;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1140px;
  }

  .app__container {
    width: 1140px;
    padding: 50px 0 10px;
  }

  .app__feed {
  }
}
